.Input{
    font-size: 1.5rem;
    border: 2px solid gray;
    margin: 1rem 0;
}

.Input:focus{
    outline: none;
    border-color:  black;
}
.InputValid{
    border-color: green;
}
.InputInvalid{
    border-color: red;
}
.Label{
    font-size: 1.5rem;
}